*{
	box-sizing: border-box;	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Corbel";
}

body{
	background-image: url("../files/img/fondo.jpg");
}

/*#fondo{
	background-image: url("../files/img/fondo.jpg"); 
}*/

.color1{
	background: #fff;
}

.color2{
	background: rgba(137, 137, 137, 0.3);
}

.color3{
	background: rgba(255, 255, 255, 0.8);
}

.d_login{
	width: 60%;
	margin-top: 9%;
	box-shadow:0 0 0 3px #fff,
				0 0 10px 5px #000;
}

.div{
	width: 75%;
	margin-top: 2.6%;
	box-shadow:0 0 0 3px #fff,
				0 0 10px 5px #000;
}

.div2{
	width: 60%;
	margin-top: 4%;
	box-shadow:0 0 0 3px #fff,
				0 0 10px 5px #000;
}

.div3{
	width: 40%;
	margin-top: 5%;
	box-shadow:0 0 0 3px #fff,
				0 0 10px 5px #000;
}

.div4{
	width: 80%;
	margin-top: 5%;
	box-shadow:0 0 0 3px #fff,
				0 0 10px 5px #000;
}

.div5{
	width: 95%;
	margin-top: 5%;
	box-shadow:0 0 0 3px #fff,
				0 0 10px 5px #000;
}

.div6{
	width: 70%;
	margin-top: 5%;
	box-shadow:0 0 0 3px #fff,
				0 0 10px 5px #000;
}

.d_modal{
	width: 130%;
	margin-top: 5%;
	box-shadow:0 0 0 3px #fff,
				0 0 10px 5px #000;
}

.d_alertas{
	width: 60%;
	margin-top: 15%;
	box-shadow:0 0 0 3px #898989,
				0 0 10px 5px #000;
}

.negrilla{
	font-weight: bold;
}

.encabezado{
	color: #fff; 
	text-align: center; 
	padding-top: 2%;
	padding-bottom: 2%;
	font-size: 24px;
	font-weight: bold;
	background: #092F5D;
}

.encabezado2{
	color: #fff; 
	text-align: center; 
	padding-top: 2%;
	font-size: 22px;
	background: #092F5D;
	text-shadow: 1.5px 1px 1px #F18F11;
}

.encabezado3{
	color: #000; 
	text-align: center; 
	font-size: 22px;
	font-weight: bold;
	text-shadow: 1.5px 1px 1px #092F5D;
	/*background: #092F5D;*/
}

.navegacion{
	background-image: url("../files/img/banner5.jpg");
	/*background: #092F5D;*/
	height: 80px;
	border-bottom: 5px solid #898989;
}

.sesion{
	margin-top: auto;
	color: #fff;
	font-size: 17px;
	margin-left: 1.6%;
	font-weight: bold;
	text-shadow: 1.5px 1px 1px #42A9EF;
}

.logo2{
	width: 100%;
	height: 70px;
}

.logo{
	border-bottom: 5px solid #898989;
	width: 240px;
	height: 80px;
}

.logohome{
	width: 150px;
	height: 180px;
}

.espacio{
	padding-top: 2%
}

.espacio2{
	padding-top: 1%;
}

.centro{
	justify-content: center;
}

.t_centro{
	text-align: center;
}

.inputs{
	border:none;
	border-bottom: 2px solid #898989;
	margin-top: 5px;
}

.labels{
	font-size: 18px;
	padding-left: 20%;
}

.b_bottom{
	border-bottom: 5px solid #898989;
}

.b_bottom2{
	border-bottom: 1px solid #CCCCCC;
}

.b_bottom3{
	border-bottom: 3px solid #898989;
}

.b_right{
	border-right: 2px solid #898989;
}

.b_right{
	box-shadow: 0 0 15px -1px #000;
}

.enlaces{
	background: #f2f2f2;
	height: 55px;
	font-size: 18px;
	padding-top: 5%;
}

.enlaces2{
	background: #f2f2f2;
	height: 55px;
	font-size: 18px;
	padding-top: 0.5%;
}

/*.enlaces:hover{
	background: #DCDCDC;
	border-right: 2px solid #898989;
	transition: 0.1s;
	color:#092F5D;
	font-weight: bold;
}*/

.redes{
	color: rgba(9, 47, 93, 0.7);
}

.redes:hover{
	color: #092F5D;
	transition: 0.5s;
}

.links{
	text-decoration: none;
	color:rgba(0, 0, 0, 0.5);
	font-size: 14px;
}

.links:hover{
	color:#092F5D;
	text-decoration: none;
	font-weight: bold;
	transition: 0.3s;
}

.links2{
	text-decoration: none;
	color:rgba(0, 0, 0, 0.5);
	font-size: 14px;
}

.boton_menu{
	background: #fff;
	color:#092F5D;
	font-size: 16px;
}

.boton_menu:hover{
	transition: 0.5s;
	color:#fff;
	border: 1px solid #fff; 
	background:#223266;
}

.pointer{
	cursor: default;
}

.b_descargar{
	color: #092F5D;
	border: 1px solid #092F5D;
}

.b_descargar:hover{
	color:#fff;
	background: #092F5D;
	transition: 0.5s;
}

div ul li .pagina{
	background: rgba(255, 255, 255, 0.5);
	height: 20px;
	width: 20px;
	padding-top: 0.5px;
	padding-left: 7px;
	border:none;
	color:rgba(0, 0, 0, 0.5);
}

div ul li .flecha{
	background: rgba(255, 255, 255, 0.5);
	height: 20px;
	width: 30px;
	padding-top: 2px;
	border:none;
	color:rgba(0, 0, 0, 0.5);
}

.pag li a:hover{
	background: rgba(0, 0, 0, 0.1);
	color: #fff;
}

.b_disabled{
	background: none !important;
	height: 20px;
	padding-top: 2px;
	color: rgba(0, 0, 0, 0.5) !important;
	border: none;
}

.active{
	background: rgba(0, 0, 0, 0.3) !important;
	color: #fff !important;
}

.dropdown{
	background: #f2f2f2;
}

.dropdown:hover{
	background: #DCDCDC;
	transition: 0.1s;
	color: #092F5D;
}

.dropdown a{
	padding-top: 5%;
	color:#092F5D;
	margin-left: 8.5%;
	font-size: 18px;
	height: 52px;
}

.dropdown-menu a{
	height: 35px;
}

.dropdown-menu a:hover{
	background: none;
	color: #092F5D;
	font-weight: bold;
	transition: 0.1s;
}

.dropdown:hover>.dropdown-menu{
    display: block;
}

div.barra{
	position: absolute;
	height: 55px;
	width: 0px;
	background: #898989;
	opacity: 0.3;
	-webkit-transition: width 250ms;
	border-right: 5px solid #898989;
	margin-left: -8.5%;
	margin-top: -5.3%;
}

a:hover div.barra{
	width: 100%;
}

.enlaces span{
	color: #092F5D;
}

.a_cursos{
	text-decoration: none;
}

.a_cursos:hover{
	font-weight: bold;
	transition: 0.3s;
	text-decoration: none;
	color: blue;
}

